


.profile__edit-button {
    width: 24px;
    height: 24px;

    border: 1px solid white;
    box-sizing: border-box;

    background-image: url('../../../image/edit.png');
    background-repeat: no-repeat;
    background-position: center;
    
    cursor: pointer;

    transition: 0.35s;
}

.profile__edit-button:hover {
    opacity: 0.6;
}