


.logo__item {
    margin: 0;

    width: 142.01px;
    height: 33.4px;

    transition: linear 0.35s;
}

@media screen and (max-width: 400px) {
    .logo__item {
        
        width: 103.74px;
        height: 24.4px;
    }
}

.logo__item:hover {
    opacity: 0.6;
}