


.profile__add-button {
    width: 150px;
    height: 50px;

    border: 2px solid #FFFFFF;
    border-radius: 2px;
    box-sizing: border-box;

    background-image: url('../../../image/add.png');
    background-repeat: no-repeat;
    background-position: center;

    cursor: pointer;
}

@media screen and (max-width: 720px) {
    .profile__add-button {
        margin-top: 46px;
    }
}

@media screen and (max-width: 400px) {
    .profile__add-button {
        margin-top: 36px;
    }
}