


.content__container {
    margin: 0 auto;
    padding: 0 0 60px;
    
    max-width: 882px;
    min-width: 200px;
}

@media screen and (max-width: 950px) {
    .content__container {
        padding: 0 21px 60px;;
    }
}

@media screen and (max-width: 380px) {
    .content__container {
        padding: 0 19px 36px;;
    }
}

