


.profile__avatar {
    min-width: 120px;
    min-height: 120px;

    border-radius: 50%;

    align-self: center;

    background-size: contain;
}

@media screen and (max-width: 492px) {
    .profile__avatar {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 350px) {
    .profile__avatar {
        margin-top: 29px;
    }
}