


.popup__item {
    width: 355px;
    height: 30px;;

    border: none;

    border-bottom: 1px solid rgba(0,0,0, 0.2);
}

.popup__item:first-of-type {
    margin-bottom: 25px;
}

.popup__item::placeholder {
    font-size: 14px;
    line-height: 17px;

    color: black;
}

.popup__item::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 17px;

    color: black;
}

.popup__item::-moz-placeholder-input-placeholder {
    font-size: 14px;
    line-height: 17px;

    color: black;
}

.popup__item::-ms-input-placeholder-input-placeholder {
    font-size: 14px;
    line-height: 17px;

    color: black;
}

@media screen and (max-width: 520px) {
    .popup__item {
        width: 206px;
    }
}